.member-wrap {
  width: 5764px;
  height: 1621px;
  background-color: #042A69;
  overflow: hidden;
}
.member-wrap .map-container {
  width: 5764px;
  height: 1621px;
}
.member-wrap .map-container .map {
  width: 5764px;
  height: 1631px;
}
.member-wrap .header-container {
  width: 5764px;
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 100;
}
.member-wrap .left-container {
  position: absolute;
  top: 140px;
  left: 70px;
  width: 580px;
  height: 1419px;
}
.member-wrap .bottm-container {
  position: absolute;
  top: 1226px;
  left: 682px;
  height: 334px;
  width: 4276px;
}
.member-wrap .right-container {
  position: absolute;
  top: 140px;
  left: 4998px;
  height: 1419px;
  width: 702px;
}
