.top-center-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.top-center-wrap .item {
  flex: 0 0 33%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.top-center-wrap .item h4 {
  color: #fff;
  position: absolute;
  top: 12px;
  right: 20px;
  width: 66%;
  height: 20px;
  letter-spacing: 4px;
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
}
.top-center-wrap .item h3 {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 70%;
  height: 74px;
  text-align: center;
  line-height: 74px;
  font-size: 74px;
  font-weight: 700px;
  letter-spacing: 6px;
  color: #01B3FD;
}
.top-center-wrap .total {
  background-image: url('http://big-screen.oss-cn-shenzhen.aliyuncs.com/HuaiHeRoad/total-money.png');
}
.top-center-wrap .times {
  background-image: url('http://big-screen.oss-cn-shenzhen.aliyuncs.com/HuaiHeRoad/times.png');
}
.top-center-wrap .price {
  background-image: url('http://big-screen.oss-cn-shenzhen.aliyuncs.com/HuaiHeRoad/price.png');
}
