.develop-screen {
  margin: 0 auto;
  width: 1920px;
  height: 1440px;
  background-color: #072B6F;
  background-image: url('http://big-screen.oss-cn-shenzhen.aliyuncs.com/beijingRoad/map-bac.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 20% 0%;
}
.develop-screen .content {
  width: 1660px;
  height: 1124px;
  margin: -6px auto 0;
}
.develop-screen .content .top-container {
  width: 100%;
  height: 644px;
  margin-bottom: 16px;
  display: flex;
  box-sizing: border-box;
}
.develop-screen .content .top-container .left,
.develop-screen .content .top-container .right,
.develop-screen .content .top-container .center {
  flex: 0 0 28%;
  position: relative;
}
.develop-screen .content .top-container .left .content,
.develop-screen .content .top-container .right .content,
.develop-screen .content .top-container .center .content {
  position: absolute;
  top: 44px;
  left: 1%;
  width: 98%;
  height: 600px;
}
.develop-screen .content .top-container .center {
  flex: 0 0 40%;
  margin: 0 2%;
}
.develop-screen .content .bottom-container {
  width: 100%;
  height: 456px;
  position: relative;
}
.develop-screen .content .bottom-container .content {
  position: absolute;
  top: 44px;
  left: 1%;
  width: 98%;
  height: 416px;
  display: flex;
}
.develop-screen .content .bottom-container .content > div {
  flex: 0 0 20%;
}
