.login-bac-wrap {
  width: 100%;
  height: 100%;
  background-image: url('http://big-screen.oss-cn-shenzhen.aliyuncs.com/beijingRoad/login/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
