.tree-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.tree-wrap .tree-chart {
  width: 100%;
  height: 100%;
}
.tree-wrap .liquild-ball {
  position: absolute;
  top: 2%;
  left: 30%;
  width: 40%;
  height: 30%;
  z-index: 100;
}
