.left-wrap {
  width: 100%;
  height: 100%;
  .title {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    font-size: 28px;
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: #00A2FF;
      margin: 0 8px 0 10px;
    }
  }
  .top-chart {
    position: relative;
    width: 100%;
    height: 442px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .table {
    position: relative;
    width: 100%;
    padding: 0 2%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 28px auto 0;
    height: 947px;
    border: 1px solid transparent;
    .table-title {
      margin-top: 64px;
      width: 100%;
      height: 60px;
      display: flex;
      border-radius: 10px;
      background-image: linear-gradient(to right, #003F83, #04C4E7);
      .title-item {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        line-height: 60px;
      }
      .order {
        flex: 0 0 7%;
        text-align: center;
      }
      .time {
        flex: 0 0 22%;
        text-align: center;
      }
      .coustom {
        flex: 0 0 24%;
      }
      .content {
        flex: 0 0 47%;
      }
    }
  }
  .table-row {
    margin-top: 12px;
    width: 100%;
    height: 36px;
    display: flex;
    border-radius: 6px;
    background-color: #001E3F;
    .table-item {
      font-size: 13px;
      color: #fff;
      line-height: 36px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .order {
      flex: 0 0 7%;
      text-align: center;
    }
    .time {
      flex: 0 0 22%;
      text-align: center;
    }
    .coustom {
      flex: 0 0 24%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .content {
      flex: 0 0 47%;
    }
  }
}