.header-wrap {
  position: fixed;
  top: 10.5%;
  left: 7%;
  width: 86%;
  height: 60px;
  border: 1px solid red;
  display: flex;
  .left-logo {
    flex: 0 0 30%;
    text-align: left;
    .logo {
      padding: 14px 0 0 20px;
    }
  }
  .center-title {
    flex: 0 0 40%;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 46px;
    padding-left: 6px;
  }
  .right-time {
    flex: 0 0 30%;
    text-align: right;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    box-sizing: border-box;
    padding-right: 130px;
  }
}