.amap-passenger-wrap {
  width: 665px;
  height: 644px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 35px 0px rgba(0, 204, 255, 0.91);
}
.amap-passenger-wrap .map {
  /* 665 644 4å€ */
  width: 2660px;
  height: 2576px;
  transform-origin: left top 0px;
  transform: scale(0.25, 0.25);
}
.amap-passenger-wrap .passenger-num-box {
  position: absolute;
  top: 10px;
  left: 4%;
  width: 92%;
  height: 96px;
  display: flex;
  justify-content: space-between;
}
.amap-passenger-wrap .passenger-num-box .list-item {
  flex: 0 0 48%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
}
.amap-passenger-wrap .passenger-num-box .list-item .icon-box {
  flex: 0 0 36%;
  padding-top: 16px;
  text-align: center;
}
.amap-passenger-wrap .passenger-num-box .list-item .right-content {
  flex: 0 0 64%;
}
.amap-passenger-wrap .passenger-num-box .list-item .right-content > h3 {
  color: #fff;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 4px 0 0 0;
}
.amap-passenger-wrap .passenger-num-box .list-item .right-content > h4 {
  color: #fff;
  font-size: 18px;
  margin: 0;
}
